@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="overflow: hidden">
    <img src="http://comedycentral.mtvnimages.com/images/shows/chappelle/videos/season1/101_popcopy_v6.jpg" class="img-circle" />
    <h1 class="headerIndex">Welcome to PopCopy!</h1>
    <p class="lead">Everything is gone. I hope you <span style="font-weight:bold">Registered</span> :(</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Don't Worry</h2>
        <p>
            Your can still register to save yourself here.
        </p>
        <p><a class="btn btn-danger" href="/Home/Register">REGISTER</a></p>
    </div>
</div>